<!DOCTYPE html>

<% include ./partials/header %>

<div class="albums-page">

  <div class="albums-info">
    <h1><%= album.title %></h1>
  </div>

  <button><a href="/albums/<%= album.id %>/reviews/new">Add Review</a></button>

  <div class="albums-page-reviews">
    <h2> Album Reviews </h2>
    <div class="reviews">    
      <% reviews.forEach(function(review) { %>
      <div class="review">
        <h3><%= album.title %></h3>
        <% include ./reviews/review%>
        <% users.forEach(function(user) { %>
          <% if (user.id === review.user_id) {%>
            <h4><a href="/users/<%= user.id%>">By: <%= user.name %></a></h4>
          <% } %>
        <% }) %>
      <% }) %>
    </div>
  </div>
  
</div>

<% include ./partials/footer %>