<!DOCTYPE html>
<% include ./partials/header %>
<div class="albums-page">
  <h1><%= album.title %></h1>
  <button class="right"><a href="/albums/<%= album.id %>/reviews/new">Add Review</a></button>
  <h2 class="text-left"> Reviews </h2>    
  <% reviews.forEach(function(review) { %>
  <div class="review">
    <h3 class="text-left title"><%= album.title %></h3>
    <% include ./reviews/review%>
    <% users.forEach(function(user) { %>
      <% if (user.id === review.user_id) {%>
        <h4 class="name text-right"><a href="/users/<%= user.id%>">By: <%= user.name %></a></h4>
      <% } %>
    <% }) %>
  </div>
  <% }) %>
</div>
<% include ./partials/footer %>