<!DOCTYPE html>

<% include ./partials/header %>

<div class="homepage">
  
    <h1>Vinyl</h1>
    <img src="/img/vinyl-breaking.png"/>

  <div class="container">
    <div>
      <h2 >Records</h2>
      <% albums.forEach(function(album) { %>
      <div class="records">
          <h4>
            <a href="/albums/<%= album.id %>"><%= album.title %></a>
          </h4>
          <h5>By: <%= album.artist %></h5>
      </div>
      <% }) %>
    </div>

    <div class="reviews">
      <h2>Recent Reviews</h2>
      <% reviews.forEach(function(review) { %>
        <div class="reviews">
          <% albums.forEach(function(album) { %>
            <% if (album.id === review.album_id) {%>
              <h3><a href="/albums/<%= album.id %>"><%= album.title %></a></h3>
            <% } %>
          <% })%>
          
          <h6><%= review.timestamp %></h6>

           <% if (userSess) { %>
            <% if (userSess.id === review.user_id) { %>
              <img onclick="confirmDelete(<%=review.id%>)" src="/img/trash.png"/>
            <% } %>
          <% } %>

          <p><%= review.review%></p>

          <% users.forEach(function(user) { %>
            <% if (user.id === review.user_id) {%>
              <h4><a href="/users/<%= user.id%>">By: <%= user.name %></a></h4>
            <% }%>
          <% }) %>
        </div>
      <% })%>
    </div>
  </div>

</div>

<% include ./partials/footer %>