<!DOCTYPE html>
<div class="reviews">
  <h3><a href="/albums/<%= album.id %>"><%= album.title %></a></h3>
  <h6><%= review.timestamp %></h6>
  <% if (userSess) { %>
    <% if (userSess.id === review.user_id) { %>
      <img onclick="confirmDelete(<%=review.id%>)"src="/img/trash.png"/>
          <% } %>
        <% } %>
      <p><%= review.review%></p>
      <% users.forEach(function(user) { %>
        <% if (user.id === review.user_id) {%>
             <h4><a href="/users/<%= user.id%>">By: <%= user.name %></a></h4>
          <% }%>
        <% }) %>
      </div>


working on the views to be highly organized!!!!!!